.login-content {
  --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10%;
}

h1 {
  color:#000;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  color:  #000;
  margin-bottom: 2rem;
}

ion-item {
  --background: transparent;
  --border-color: #000;
  --border-radius: 5px;
  --padding-start: 0;
  margin-bottom: 1rem;
  --color: black;
}

ion-label {
  transition: transform 0.2s ease, font-size 0.2s ease;
  color: black; /* Default label color */
}
ion-input {
  --padding-start: 1rem;
  --padding-end: 1rem;
  --color: black;
}

.login-button {
  margin-top: 2rem;
  --background: #667eea;
  --background-hover: #5a6fe0;
  --background-activated: #4c62d6;
  --box-shadow: 0 4px 6px rgba(102, 126, 234, 0.25);
}

.error-message {
  margin-top: 1rem;
  font-size: 0.9rem;
}

